#form{
  height: 30% !important;
  width: 100% !important;

}

#latitud, #longitud{
  width: 45% !important;
  float: left;
}

#button{
  margin-top: 25%;
}

#map{
  height: 55% !important;
  width: 100% !important;
}

#list{
  width: 100% !important;

}